/*
 * Copyright (c) 2025, Abderrahmane JARMOUNI
 *
 * SPDX-License-Identifier: Apache-2.0
 */


/ {	
	aliases {
        debug-uart = &uart0;
        led-green = &led0;
        led-red = &led0;

        i2c = &i2c0;       

        can1-stb = &can0;     
        
    };	
};




    