/*
 * Copyright (c) 2022, Basalte bv
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "native_sim.overlay"

sdl_dc: sdl_dc{
	compatible = "zephyr,sdl-dc";
	height = <240>;
	width = <320>;
	
};	